version: "3.8"

services:
  react-app:
    build:
      context: .
      dockerfile: Dockerfile
    image: react-portfolio:latest
    container_name: react-portfolio
    ports:
      - "80:80"
    restart: unless-stopped
